localsettings.py
*.sqlite
*.conf
*.py[co]
*.sw[po]
local.db
.DS_Store
junk
Session.vim
*.log
*.db
.idea
db.sqlite3
.ipynb_checkpoints
*.ipynb
config/local_settings.py
/static
*.pid
.data/
manage.sh
celerybeat-schedule
/nohup.out
