{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        {{ form|as_bootstrap_horizontal }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-success" type="submit" value="Submit">
                    <span class="glyphicon glyphicon-ok"></span> Save
                </button>
                <a class="btn btn-danger" href="{% url 'list' %}">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </a>
            </div>
        </div>
    </form>
{% endblock content %}