{% extends 'base.html' %}

{% block content %}
     <table class="table">
         <thead>
            <th>Name</th>
            <th>Last name</th>
            <th>Actions</th>
         </thead>
         <tbody>
            {% for person in contacts %}
                <tr>
                    <td>{{ person.name }}</td>
                    <td>{{ person.last_name }}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'edit' person.id %}">EDIT</a>
                        <a class="btn btn-danger" href="{% url 'delete' person.id %}">DELETE</a>
                    </td>
                </tr>
            {% endfor %}
         </tbody>
     </table>
{% endblock content %}